//LIBMQTST JOB (ACCT),'RUN LIBMQTST',
//         CLASS=A,MSGCLASS=X,NOTIFY=&SYSUID
//*-------------------------------------------------------------*
//*  Run MQ+DB2 test LIBMQTST (XML -> copybook -> DB2)
//*  Tokens replaced by Ansible:
//*    HLQ, COBLOAD, MQLOAD, DB2LOAD,
//*         SYSIN (QMGR/REQ/RPLY/WAIT_MS)
//*-------------------------------------------------------------*
//VARS   SET HLQ={{ hlq }}
//       SET DB2LOAD={{ db2.loadlib }}
//       SET COBLOAD=&HLQ..LOAD
//       SET MQLOAD={{ mq.loadlib }}
//*-------------------------------------------------------------*
//RUN     EXEC PGM=IKJEFT01
//STEPLIB DD  DSN=&COBLOAD,DISP=SHR
//        DD  DSN=&MQLOAD,DISP=SHR
//        DD  DSN=&DB2LOAD,DISP=SHR
//SYSOUT  DD SYSOUT=*
//SYSTSIN  DD *,SYMBOLS=CNVTSYS
 DSN SYSTEM({{ db2.subsystem }})
 RUN PROGRAM(LIBMQTST) PLAN(&SYSUID) LIB('&SYSUID..LOAD')
 END
//SYSIN    DD DUMMY
//SYSUDUMP DD DUMMY
//CEEDUMP  DD DUMMY
//SYSTSPRT DD SYSOUT=*
//SYSPRINT DD SYSOUT=*
//SYSOUT  DD  SYSOUT=*,OUTLIM=15000
//PARAMS  DD  *
QMGR={{ mq.qmgr }}
REQ={{ mq.request_queue }}
RPLY={{ mq.reply_queue }}
WAIT_MS={{ mq.wait_ms }}
/*
//*-------------------------------------------------------------*
