//LIBMQC   JOB (ACCT),'COBOL MQ COMPILE',
//         CLASS=A,MSGCLASS=X,NOTIFY=&SYSUID
//*-------------------------------------------------------------*
//*  Compile/precompile LIBMQTST (MQ + DB2)
//*  Tokens replaced by Ansible:
//*    HLQ, COBSRC, LOAD, DB2LOAD, MQLOAD, DBRMLIB
//*-------------------------------------------------------------*
//VARS   SET HLQ={{ hlq }},
//           COBSRC=&HLQ..CBL,
//           LOAD=&HLQ..LOAD,
//           DBRMLIB=&HLQ..DBRMLIB,
//           DB2LOAD={{ db2.loadlib }},
//           MQLOAD={{ mq.loadlib }}
//*-------------------------------------------------------------*
//PRECOMP EXEC PGM=DSNHPC,REGION=0M,
//         PARM=('HOST(IBMCOB)','APOST','LINECOUNT(60)')
//STEPLIB DD  DSN=&DB2LOAD,DISP=SHR
//SYSIN   DD  DSN=&COBSRC(LIBMQTST),DISP=SHR
//SYSCIN  DD  DSN=&&COBSRC,UNIT=SYSDA,SPACE=(TRK,(5,5)),
//             DISP=(MOD,PASS)
//SYSPUNCH DD DSN=&&DBRM,UNIT=SYSDA,SPACE=(TRK,(5,5)),
//             DISP=(MOD,PASS)
//DBRMLIB DD  DSN=&DBRMLIB(LIBMQTST),DISP=SHR
//SYSPRINT DD SYSOUT=*
//*
//COBOL   EXEC PGM=IGYCRCTL,REGION=0M,COND=(0,LT),
//         PARM='LIB'
//STEPLIB DD  DSN={{ cobol_compiler_loadlib }},DISP=SHR
//SYSIN   DD  DSN=&&COBSRC,DISP=(OLD,DELETE)
//SYSLIB  DD  DSN=&COBSRC,DISP=SHR
//SYSPRINT DD SYSOUT=*
//SYSOUT  DD SYSOUT=*
//SYSLIN  DD DSN=&&OBJ,UNIT=SYSDA,SPACE=(TRK,(5,5)),
//            DISP=(MOD,PASS)
//*
//LKED    EXEC PGM=HEWL,REGION=0M,COND=(0,LT)
//SYSLMOD DD DSN=&LOAD(LIBMQTST),DISP=SHR
//SYSLIN  DD DSN=&&OBJ,DISP=(OLD,DELETE)
//SYSLIB  DD DSN=&MQLOAD,DISP=SHR
//        DD DSN=&DB2LOAD,DISP=SHR
//SYSPRINT DD SYSOUT=*
