[defaults]
inventory = ./inventories/hosts.yml
host_key_checking = False
interpreter_python = auto_silent
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
pipelining = True
control_path_dir = /tmp/ansible-cp
